
body.dark {
  --bg: #000220;
  --textNormal: rgba(255, 255, 255, 0.88);

  @import '~antd/lib/style/themes/default.less';
  @import '~antd/dist/antd.dark.less';

  @body-background: #000220;
  @layout-body-background: #000220;
  @layout-header-background: #001529;
}
