
body.dark {
  --bg: #333;
  --textNormal: rgba(255, 255, 255, 0.88);
  --color-black: #333;
  --color-white: #fff;

  @import '~antd/lib/style/themes/default.less';
  @import '~antd/dist/antd.dark.less';
  @import './layout.less';
  @import './footer.less';

  @body-background: #333;
  @layout-body-background: #333;
  @layout-header-background: #001529;
  @component-background: #202020;

  /* Change autocomplete styles in WebKit */
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus {
    border: 1px solid @border-color-base;
    box-shadow: none;
    transition: background-color 5000s ease-in-out 0s;
    -webkit-text-fill-color: @text-color;
  }

  #header {
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.65);
  }

  #logo img {
    background-image: radial-gradient(#e3c363 0px, #202020 22px);
  }
}
